body {
    background-color: #00FF04;
}

.main_menu {
    background-color: red;    
}

.main_menu ul,
.main_menu li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main_menu li {
    display: inline;
}

.container {
    width: 70%;
    float: left;
}

.sidebar {
    width: 30%;
    float: left;
}

.wp-block-latest-posts__post-title {
    color: blue;
}

article {
    background-color: white;
    border-bottom: 1px solid black;
    margin: 10px;
    padding: 10px;
}

article.post_thumbnail {
    float: left;
    margin-right: 20px;
}

.paginacao {
    margin-top: 30px;
    margin-bottom: 30px;
}

.pagina_anterior {
    float: left;
}

.pagina_proxima {
    float: right;
}

footer {
    margin-top: 50px;
}