body {
    margin: 0;
    background-color: wheat;
}
/* 
form {
    width: 160px;
    height: 150px;
    background-color: white;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
}

input {
    padding: 5px;
    font-size: 13px;
} */

/* input[autofocus] {
    border: 2px solid blue;
} */