* {     /* '*' insere formatação no site todo */
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-decoration: none;
    color: #333;
    list-style: none;
}

body {
    background-color:#111;
}

#geral {
    width: 800px;
    /* max-width: 1200px; */
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

/*----------------------------------- topo do site ---------------------------------------------------------*/

#topo {
    width: 100%;        /* largura */
    height: 200px;           /* altura */
    float: left;        /* flutuará */
    background-color: #DDF;   /* cor de fundo */
}

.logo {
    width: 200px;
    height: auto;
    float: left;
    margin: 20px;       /* define a margem 'espaço' ao redor do elemento */
    
}

.links_top {
    float: right;
    padding: 10px;      /* define o espaço entre o conteudo do elemento com sua borda interna */
    margin: 5px 2px;
    border-radius: 7px;     /* arredonda a borda do elemento */
    background-color: #145;
    color: #FFF;        /* cor do texto */
}

/*----------------------------------- fim do topo ---------------------------------------------------------*/

#menu {
    width: 100%;
    height: 50px;
    float: left;
    background-color: #FDD;   
}

#conteudo {
    width: 100%;
    height:600px;
    float: left;
    background-color: #FFD;
}

#rodape {
    width: 100%;
    height: 50px;
    float: left;
    background-color: #DDD;   
}