* {     /* '*' insere formatação no site todo */
    padding: 0;
    margin: 0;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    list-style: none;
}

body {
    background-color:#111;
}

#geral {
    width: 800px;
    /* max-width: 1200px; */
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

/*----------------------------------- topo do site ---------------------------------------------------------*/

#topo {
    width: 100%;        /* largura */
    height: 200px;           /* altura */
    float: left;        /* flutuará */
    background-color: #DDF;   /* cor de fundo */
}

.logo {
    width: 200px;
    height: auto;
    float: left;
    margin: 20px;       /* define a margem 'espaço' ao redor do elemento */
    
}

.links_top {
    float: right;
    padding: 10px;      /* define o espaço entre o conteudo do elemento com sua borda interna */
    margin: 5px 2px;
    border-radius: 7px;     /* arredonda a borda do elemento */
    background-color: #145;
    color: #FFF;        /* cor do texto */
}

.links_top:hover {
    background-color: #59f;
}

/*----------------------------------- menu do site ---------------------------------------------------------*/

#menu {
    width: 100%;
    height: 50px;
    float: left;
    background-color: #145;   
}

.links_menu li a {       /* formatando tag 'a' */
    float: left;
    padding: 17px;
    background-color: #145;
    color:#FFF;
}

.links_menu li a:hover {
    background-color: #59f;
}

/*----------------------------------- conteudo do site ------------------------------------------------------*/

#conteudo {
    width: 100%;
    min-height:500px;
    float: left;
    background-color: #FFF;
    padding-bottom: 20px;
}

#conteudo_pricipal {
    width: 70%;
    min-height: 600px;
    float: left;
    border: 1px solid #CCC;
    margin: 20px 10px;
}

#recentes {
    width: 24%;
    min-height: 600px;
    float: left;
    border: 1px solid #CCC;
    margin: 20px 10px;
}

.postagens {
    width: 100%;
    height: auto;
    overflow: hidden;
    float: left;
    margin: 10px 0;
    border: 0px solid #F00;
}

.postagens_recentes {
    width: 100%;
    height: auto;
    overflow: hidden;
    float: left;
    margin: 10px 0;
    border: 0px solid #F00;
}

.titulos {
    font-size: 20px;
    font-family: Calibri,sans-serif;
    float: left;
    width: 96%;
    margin: 5px 2%;
}

.titulos a:hover {
    color: #59f;
}

.imagem {
    width: 100%;
    height: auto;
    float: left;
    margin: 5px 0;
}

.paragrafo, .data {     /* aplicando formatação a classe 'paragrafo' e 'data' */
    font-size: 16px;
    color: #333;
    float: left;
    width: 96%;
    font-family: calibri, sans-serif;
    margin: 5px 0;
}

/*----------------------------------- página de contato ----------------------------------------------------*/

.campos, .campos_cad, #botoes, .botoes {
    width: 80%;
    margin: 10px 10%;
    min-height: 30px;
    float: left;
    padding: 2px;
    font-size: 16px;
}

.campos2 {
    width: 80%;
    margin: 10px 10%;
    height: 150px;
    float: left;
    padding: 2px;
}

.bt_enviar {
    float: left;
    margin-left: 10%;
    padding: 5px;
    font-size: 16px;
}

.legenda {
    float: left;
    margin-left: 10%;
    font-size: 16px;
}

#box_form, #box_log {
    width: 80%;
    min-height: 300px;
    background-color: #FFF;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 3px;
}

.bt_cad {
    float: left;
    font-size: 16px;
    padding: 5px;
    margin-right: 5px;
}

.form_link {
    color: #59f;
    font-size: 16px;
    float: left;
}

.p_form {
    color: #333;
    font-size: 16px;
    float: left;
    width: 100%;
}

/*----------------------------------- rodape do site --------------------------------------------------------*/

#rodape {
    width: 100%;
    height: 50px;
    float: left;   
    background-color: #DDF;
}

.direitos {
    text-align: center;
    font-size:18px;
}