body {
	font-family: Arial;
	font-size:14px;
}
#app {
	max-width:1024px;
	margin:auto;
}

.header {
	min-height:100px;
	background-color:#EEE;
}

.container {
	display:flex;
	min-height:400px;
}
.container__content {
	flex:1;
	background-color:#DDD;
	padding:10px;
}
.container__sidebar {
	width:300px;
	background-color:#D1D1D1;
	padding:10px;
}

.footer {
	min-height:100px;
	background-color:#EEE;
}